:root {
    --color-primary: #3472FF;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    overflow: auto;
}

body {
    background-color: #fff !important;
    overflow: auto !important;
}

* {
    box-sizing: border-box;
}

.vertica-line {
    width: 2px;
    height: 15px;
    margin-right: 6px;
    background-color: var(--color-primary);
    vertical-align: middle;
}

.vertica-line + span {
    font-size: 14px;
    vertical-align: middle;
}

.el-collapse-item__header {
    border-bottom: none;
}

.el-collapse-item__wrap {
    border-bottom: none;
}

.el-radio-group{
    width: 100%;
    margin-bottom: 24px;
}

.el-radio-button{
    width: 50%;
}

.el-radio-button__inner{
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.list-card {
    width: calc((100% - 12px) / 2);
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    color: #444;
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-card:hover {
    color: #3472FF;
    border: 1px solid #3472FF;
}

.el-select-dropdown li, .el-collapse-item__header span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

